<%- include('header') %>
   <section class="info">
    <h2>Stay consistent every day</h2>
    <p>Track your habits, stay motivated, and grow with simple daily actions.</p>
     <div class="cta-buttons">
      <a href="/login" class="btn">Login</a>
      <a href="/signup" class="btn btn-outline">Sign Up</a>
    </div>
  </section>
  <%- include('footer') %>