
/* === Brand Theme: HabitFlow === */
:root {
  --orange: #ff7a00;
  --orange-light: #ffaf66;
  --teal: #00b894;
  --gray: #7f8c8d;
  --red: #e74c3c;
  --bg: #fff9f4;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*layout */
body{
    background:var(--bg);
    color: #2d3436;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px 20px;
}
.container{
    background: #fff;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.8);
    transition: 0.3s
}
/* Header */
header{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 25px;
    
}
.logo{
    font:700px  1.5rem/1.5;
    color: var(--teal);
    letter-spacing: 0.5px;
    
}

/*tagline */
.tagline {
    color: var(--gray);
    font-size: 0.9rem;
}
/* todo list */
 ul {
    list-style: none;
    margin-top: 15px;
 }
 .todoItem {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 6px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #f7d9bd;
    border-left:  solid var(--orange);
    transition: 0.2s;
 }
 .todoItem:hover {
    background: #f1db90;
 }
.completed{
    text-decoration: line-through;
    color: var(--gray);
    
}
.not{
    color: #2d3436;
}
.del {
    color: var(--red);
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}
.del:hover{
    text-decoration: underline;
}
form{
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
}
input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}
#button {
    padding: 10px 10px;
    margin-left:50px;
    border: none;
    background-color: var(--orange-light);
    color: #fff;
    cursor: pointer;
    font-weight: bold;

}
.button:hover{
    background:var(--orange) ;
}

.expired {
    text-decoration: line-through;
    color: var(--red);
    opacity: 0.8;
  }
  .container>a{
    
    text-decoration: none;
    padding:  20px;
    color: var(--orange);
    margin-left: 80%;
    
    font-weight: 700px;

    
  }
  .info{
    padding: 20px 100px;
    align-items: center;
  }
  .cta-buttons{
    margin-top: 20px;

  }
  .cta-buttons a{
    color: var(--orange);   
    padding: 20px;
    text-decoration: none;
  }
  footer {
  padding: 30px;
  font-size: 0.9rem;
  color: #999;
}
.form{
 background: #fff;
  padding: 20px 20px;
  width: 100%;
  display: inline-block;
  
}
.form input{
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}